/web/bundles/
/web/static/
/web/static
/web/fonts/
/web/uploads/
/app/bootstrap.php.cache
/app/sessions/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
