{% extends "editor/layout.html.twig" %}

{% block bodyId %}sitios{% endblock %}

{% block siteActionTitle %}Sitios{% endblock %}
{% block siteActionDescription %}Accede al sitio de <strong>fanatic.futbol</strong> sobre el que quieres trabajar{% endblock %}

{% block siteActionContent %}
<span class="col-12 clear">
{% for site in user.sites %}
	<span class="col-4 pad">
        <section class="tarjeta pad">
            <h1 class="titulo cuerpo tam18"><a href="{{ url('site_editor_dashboard', {'site': site.slug}) }}"><strong>{{ site.name }}</strong></a></h1>
            <span class="botones">
                <a href="{{ url('site_editor_dashboard', {'site': site.slug}) }}" class="boton azul"><span class="icono icon icon-flecha-der"></span><span class="accion">Entrar</span></a>
            </span>
        </section>
    </span>
{% endfor %}
</span>
{% endblock %}

