{% extends "editor/layout.html.twig" %}

{% block siteActionTitle %}Sitios{% endblock %}
{% block siteActionDescription %}Accede al sitio de <strong>fanatic.futbol</strong> sobre el que quieres trabajar{% endblock %}

{% block siteActionContent %}
{% for site in user.sites %}
	<span class="col-6 pad">
        <section class="tarjeta imagen">
            <img src="" alt="">
            <span class="acciones">
                <h1 class="titulo tam18"><a href="panel-control.html"><strong>{{ site.name }}</strong></a></h1>
                <span class="botones der">
                    <a href="{{ url('site_editor_dashboard', {'site': site.slug}) }}" class="boton azul"><span class="icono icon icon-flecha-der"></span><span class="accion">Entrar</span></a>
                </span>
            </span>
        </section>
    </span>
{% endfor %}
{% endblock %}

