{% extends "editor/layout.html.twig" %}

{% block bodyId %}panel{% endblock %}

{% block siteActionTitle %}Panel de control{% endblock %}
{% block siteActionDescription %}Desde este panel podrás acceder a las principales opciones y estadísticas del sítio. Aquí te notificaremos las novedades relevantes que ocurran en los sítios de <strong>fanatic.futbol</strong>{% endblock %}

{% block siteActionContent %}
<span class="col-12 clear">
    <h1>Pendiente de desarrollo</h1>
</span>
{% endblock %}
