{% extends "editor/layout.html.twig" %}

{% block siteActionTitle %}Panel de control{% endblock %}
{% block siteActionDescription %}Desde este panel podrás acceder a las principales opciones y estadísticas del sítio. Aquí te notificaremos las novedades relevantes que ocurran en los sítios de <strong>fanatic.futbol</strong>{% endblock %}

{% block siteActionContent %}
<h1>Esto es el panel de control de sitio y falta hacerlo</h1>
{% endblock %}