<h3>Hola {{ user.firstName }},</h3>

<p>Se ha enviado este correo electrónico automáticamente porque se acaba de crear una cuenta con esta dirección asociada.</p>

<p>Tus credenciales son las siguientes:</p>

    <ul>
        <li><bold>Usuario:</bold> {{ user.username }}</li>
        <li><bold>Contrase&ntilde;a:</bold> {{ pass }}</li>
    </ul>

<p>Por favor, cambie la contrase&ntilde;a lo antes posible para evitar posibles problemas de usurpaci&oacute;n de identidad. Recuerde que tener almacenadas credenciales v&aacute;lidos en el correo electr&oacute;nico es un posible riesgo.</p>

Muchas gracias por su colaboraci&oacute;n, y le damos de nuevo la bienvenida al equipo.

Un saludo cordial.

Fanatic.futbol
